<center> <img src="img/FF.png" width="200" height="150"> </center>
    <div class="logincer">
        <center><h1><b>Editar</b></h1></center>
    </div> <br><br><br><br><br><br>
    <center> <form>
        <label for="text"><h2>Nome e Descriçao</h2></label><br><br>
       <input type="email" id="fmc" name="email"  placeholder="Digite o nome"><br><br><br>

       <label for="text"><h2>localizaçao</h2></label><br><br>
       <input type="password" id="fmc" name="senha"  placeholder="Digite o endereço"><br><br><br><br>
       
       <label for="text"><h2>telefone</h2></label><br><br>
       <input type="password" id="fmc" name="senha"  placeholder="Digite o telefone"><br><br><br><br>
       
       <label for="text"><h2>email</h2></label><br><br>
       <input type="password" id="fmc" name="senha"  placeholder="Digite seu email"><br><br><br><br>
       
   <label for="text"><h2>tipo de pcd que atende</h2></label><br><br>
       <input type="password" id="fmc" name="senha"  placeholder="Digite o tpo de pcd que o restaurante aceita"><br><br><br><br>

       
   </form></center>
   <a href="perfilrestaurante.handlebars"> <button id="bteditar" >Editar</button> </a>
   <br><br><br><br><br><br><br><br><br>
   <div class="final">
    <img src="img/finalff.png"/>
  </div>