<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/estilo.css" rel="stylesheet">
    <title>FindFood</title>    
</head>
<header>
      
  <input type="checkbox" id="chec">
 
  <label for="chec">
     <img id="menu" src="img/menu.png"> 
    
  </label>
  
  <center> <img src="img/FF.png" width="200" height="150"> </center>
  <nav>
       <ul>
        <li><p href=""><b>Distancia?</b></p> </li>
        5km<input type="checkbox" id="pcd">&nbsp; 15km<input type="checkbox" id="pcd"> &nbsp; 30km<input type="checkbox" id="pcd"><br/>

         <li><p href=""><b>Qual tipo de deficiência?</b></p> </li>
         Cadeirante: <input type="checkbox" id="pcd"> <br/>
         Deficiência visual: <input type="checkbox" id="pcd"> <br/>
         Deficiência auditiva: <input type="checkbox" id="pcd" ><br>
         Mudez: <input type="checkbox" id="pcd" ><br>

         <li><p href=""><b>tipo de comidas?</b></p> </li>
         Japonesa: <input type="checkbox" id="pcd"> <br/>
         Massas: <input type="checkbox" id="pcd"> <br/>
         Churraco: <input type="checkbox" id="pcd" ><br>
         Feijoada: <input type="checkbox" id="pcd" ><br>
         Pizza: <input type="checkbox" id="pcd" ><br>
         Fast food: <input type="checkbox" id="pcd" ><br>
         <input type="submit" id="enviar" value="filtrar restaurantes">
       </ul>
      
      </nav>
    </header>
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Digite sua busca.."/>
         <button id="btnBusca">Buscar</button> <a href="loginRestaurante.html"> <button id="btlogin" >login</button> </a> 
         <datalist id="listabusca">
           <option value= "restaurante frances"></option>
           <option value= "restaurante rooftop"></option>
           <option value= "terraço Italia"></option>
         </datalist>
      </div>
       
      <div class="botao">
        <a href="cadastro.html">
        <img src="img/botao_cadastro.png"/>
      </a>
      </div>

      &nbsp;


      <div class="gallery">
        <a href="">
          <img src="img/restaurante1.jpg" alt="Cinque Terre" width="600" height="400" >
        </a>
        <div class="desc">restaurante frances</div>
      </div>
      
      <div class="gallery">
        <a href="">
          <img src="img/rooftop.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">restaurante Rooftop </div>
      </div>
      
      <div class="gallery">
        <a href="">
          <img src="img/terracoitalia.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">terraço Italia</div>
      </div>
      
      <div class="gallery">
        <a href="perfilrestaurante.html">
          <img src="img/principalrestaurante.png" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">findfood</div>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
     
      <div class="final">
        <img src="img/finalff.png"/>
</div>