<header>      
  <input type="checkbox" id="chec">
 
  <label for="chec">
     <img id="menu" src="img/menu.png"> 
    
  </label>
  
  <center> <img src="img/FF.png" width="200" height="150"> </center>
  <nav>
       <ul>
        <li><p href=""><b>Distancia?</b></p> </li>
        5km<input type="checkbox" id="pcd">&nbsp; 15km<input type="checkbox" id="pcd"> &nbsp; 30km<input type="checkbox" id="pcd"><br/>

         <li><p href=""><b>Qual tipo de deficiência?</b></p> </li>
         Cadeirante: <input type="checkbox" id="pcd"> <br/>
         Deficiência visual: <input type="checkbox" id="pcd"> <br/>
         Deficiência auditiva: <input type="checkbox" id="pcd" ><br>
         Mudez: <input type="checkbox" id="pcd" ><br>

         <li><p href=""><b>tipo de comidas?</b></p> </li>
         Japonesa: <input type="checkbox" id="pcd"> <br/>
         Massas: <input type="checkbox" id="pcd"> <br/>
         Churraco: <input type="checkbox" id="pcd" ><br>
         Feijoada: <input type="checkbox" id="pcd" ><br>
         Pizza: <input type="checkbox" id="pcd" ><br>
         Fast food: <input type="checkbox" id="pcd" ><br>
         <input type="submit" id="enviar" value="filtrar restaurantes">
       </ul>     
      </nav>
    </header>
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Digite sua busca.."/>
         <button id="btnBusca">Buscar</button> <a href="loginRestaurante.handlebars"> <button id="btlogin" >login</button> </a> 
         
      </div>
       
      <div class="botao">
        <a href="cadastro.html">
        <img src="img/botao_cadastro.png"/>
      </a>
      </div>

      &nbsp;
      <div class="gallery">
        <a href="">
          <img src="img/restaurante1.jpg" alt="Cinque Terre" width="600" height="400" >
        </a>
        <div class="desc">restaurante frances</div>
      </div>
      
      <div class="gallery">
        <a href="">
          <img src="img/rooftop.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">restaurante Rooftop </div>
      </div>
      
      <div class="gallery">
        <a href="">
          <img src="img/terracoitalia.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">terraço Italia</div>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
     
      <div class="final">
        <img src="img/finalff.png"/>
</div>