<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/estilo.css" rel="stylesheet">
    <title>FindFood</title> 
<center> <img src="img/FF.png" width="200" height="150"> </center>
    <div class="logincer">
        <center><h1><b>LOGIN RESTAURANTE</b></h1></center>
    </div> 
    <br><br><br><br><br>
    <center> <form>
     <label for="text"><h2>E-mail</h2></label><br><br>
    <input type="email" id="fmc" name="email"  placeholder="Digite seu e-mail.."><br><br><br>

<label for="text"><h2>senha</h2></label><br><br>
    <input type="password" id="fmc" name="senha"  placeholder="Digite sua senha.."><br><br><br><br><br><br>
    

</form></center><br><br>
<a href="perfilrestaurante.html"> <button id="logarrestaurante" >Logar Restaurante</button> </a>  <br><br><br><br><br>
<!-- <a href="cadastro.html"> <button id="cadastrocliente">Cadastra-se</button> </a> -->

<br><br><br><br><br><br>
<div class="final">
    <img src="img/finalff.png"/>
  </div>