<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/estilo.css" rel="stylesheet">
    <title>FindFood</title>    
</head>
<center> <img src="img/FF.png" width="200" height="150"> </center>

     <div class="fotoRestaurante">
        <img src="img/principalrestaurante.png" >
</div>
<div class="nomeedesc">Nome: findfood</div>
</div>
                                                       <div class="localizaçao">Rua: uniao <br>
                                                         Cidade: embu das artes</div>
                                                         </div><br>

<div class="telefonerestaurante">Telefone: 40028922</div>
</div>
                                                              <div class="emailrestaurante">Email: findfood@gmail.com</div>
                                                              </div><br>

  </div><br><br><br><br>

   <a href="findfood2.html"> <button type="button" id="bteditar" >Finalizar</button> </a>

   <br><br><br><br><br><br><br><br><br><br>
   <div class="final">
    <img src="img/finalff.png"/>
  </div>